.App {
  text-align: center;
}

#map {
  position: fixed !important;
  width: 50%;
  height: 100%;
}

.google-map-container {
  position: fixed;
  height: 100%;
  width:  100%;
}

.google-map-container__row,
.google-map-container-map {
  height: 100%;
}
